@model Core.Models.User

@using (Html.BeginForm("SignIn", "Login"))
{
    @Html.ValidationSummary()

    <fieldset>
        <legend></legend>
        <ul class="clearfix" style="list-style:none">
            <li>
                @Html.Label("Login")
                @Html.TextBoxFor(m => m.mail)
            </li>
            <li>
                @Html.Label("Senha")
                @Html.PasswordFor(m => m.password)
            </li>
        </ul>
        <input type="submit" value="Logar" />
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
